body, html{
    padding: 0;
    margin: 0;
    background-color: #ffced6;
}

.foto-container{
    width: 100%;
    text-align: center;
}

.botao{
    width: 60px;
    height: 60px;
}
.ratinho{
    margin-top: 20px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;/*fração do espaço que vai ocupar*/
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

p{
    margin-top: 0;
}
/* pegue todas as div's que estiver dentro do container ">" */
.container > div{
    cursor: pointer;
}